{% extends "blog/base.html" %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block image %}
    {% if post.image %}
        style="background-image: url('{{ post.image.url }}')"
    {% else %}
        style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')"
    {% endif %}
{% endblock %}

{% block heading %}
<h1>{{ post.title }}</h1>
<span class="subheading">{{ post.descr|truncatechars:20 }}</span>
{% endblock %}

{% block main %}
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {{ post.pk }}
                        {{ post.id }}
                        {{ post.descr }}
                        <h2 class="section-heading">{{ post.descr|truncatechars:20 }}</h2>
                {{ post.descr }}
                        <blockquote class="blockquote">{{ post.descr|truncatechars:30 }}</blockquote>
                {{ post.descr }}
                        <h2 class="section-heading">{{ post.descr|truncatechars:8 }}</h2>
                {{ post.descr }}
                        <a href="#!"><img class="img-fluid" src="{% static 'assets/img/post-sample-image.jpg' %}" alt="..." /></a>
                        <span class="caption text-muted">{{ post.descr|truncatechars:15 }}</span>
                {{ post.descr }}
                {{ post.descr }}
                        <p>
                            Placeholder text by
                            <a href="http://spaceipsum.com/">{{ post.author }}</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                            <br>
                            {{ post.date }}
                        </p>
                    </div>
                </div>
            </div>
        </article>
{% endblock %}